.add-option-error{
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0; 
}
.add-option{
    display: flex;
    flex-direction: column;
    padding: $m-size;

}

.add-option__input{
    background: $dark-blue;
    border: none;
    color:$off-white;
    border-bottom: .3rem solid darken($dark-blue,10%);
    flex-grow: 1;
    padding: $s-size;
    margin: 0 0 $s-size 0;
}

@media (min-width: $desktop-break) {
    .add-option{
        flex-direction: row;
    }
    .add-option__input {
        margin-right: $s-size;
        margin: 0 $s-size 0 0;
    }
}