.avatar {
    border-top: 10px;
    border-width: 3px;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
}

.profile ul{
    list-style: none;
    > li {
        padding: 10px;
        //border-color: #1597C1;
        border-width: 3px;
        //border-style: solid;
        //border-radius: 15px;
    }
}

