// wwidget header 
.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin: 0;
}

.widget{
    background: $light-blue;
    color:$off-white;
    margin-bottom: $l-size;
}

.widget__element{
   color:$off-white; 
   margin: none;
   padding: $l-size;
   text-align: center;
   border-bottom: 1px solid lighten($light-blue,10%);
}